:root {
  --primary--brand--iris: #4d5ae5;
  --pressed--state--ocean: #404bbf;
  --dark--navy--blue: #2e2f42;
  --success--green: #31d0aa;
  --text--slate: #434455;
  --subtle--text--slate: #8e8f99;
  --accent--cornflower: #e7e9fc;
  --light--cloud: #f4f4fd;
  --modal--overlay--blue--modal: #2e2f42;
  --hero--background--grey: #2e2f42;
  --white--background--white: #ffffff;
  --modal--background--dairy: #8e8f99;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text--slate);
  background-color: var(--white--background--white);
}

.page-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  width: 1140px;
  height: 72px;
}

.page-header .container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
    width: 1158px;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 24px 76px 24px 156px;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--primary--brand--iris);
  margin-right: 76px;
}

.logo-header {
  color: var(--dark--navy--blue);
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.contacts {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 156px;
}

.auth-nav {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text--slate);
  
}

.auth-nav:hover,
.auth-nav:focus {
  color: #404bbf;
}

.hero {
  background-color: var(--dark--navy--blue);
    padding: 188px 0;
    width: 1440px;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white--background--white);
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  cursor: pointer;
  color: var(--white--background--white);
}

button {
  background-color: var(--primary--brand--iris);
}

button:hover,
button:focus {
  background-color: var(--pressed--state--ocean);
}

.title-directions {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark--navy--blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--dark--navy--blue);
}

.team {
  background-color: var(--light--cloud);
}

.team-li {
  background-color: var(--white--background--white);
}

.title-team {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark--navy--blue);
}

.img-team {
  background-color: #ffffff;
}

.title-name {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark--navy--blue);
  background-color: #ffffff;
}

.title-name-text {
  font-size: 16px;
  color: var(--text--slate);
}

.portfolio {
  color: var(--dark--navy--blue);
}

.title-portfolio {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.title-text-portfolio {
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  display: inline-block;
}

.logo-link-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--primary--brand--iris);
  margin-right: 76px;
  margin-bottom: 16px;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
